<!DOCTYPE html>
<html>
<body>

<form action="/hackathon" method="post">
	Name:
	<input type="text" name="name"><br><br>
	Start:
    <input type="date" name="start"><br><br>
    End:
    <input type="date" name="end"><br><br>
    <input type="submit">
</form>


</body>
</html>
